---
import Skeleton from "../layout/Skeleton.astro";
import Ql from "../components/ql.astro";
const services = [
    "ufc",
    "pride",
    "pancrase",
    "one",
    "thaifight",
    "maxmuaythai",
    "rajadamnern",
    "wlc",
    "k1",
    "rise",
    "karatecombat",
    "pbc",
    "gbp"
];
---

<Skeleton title="Home">
    <h1 style="text-align: center; padding: 0px; margin: 0px;">OPEN FIGHT PASS</h1>
    
        <p style="text-align: center;">
            The Open Fight Pass is a simple webiste designed to help users
            navigate free fighting content on Youtube. <br /> The purpose of the
            website is to offer the casual MMA enjoyer a UFC Fight Pass
            experience, without having to pay 100$/year to enjoy some fights. <br />
            You can find below all the services available to browse.
        </p>

    <main>
        <div id="services">
            {services.map((item) => <Ql name={item} />)}
        </div>
    </main>

    <p style="text-align: center;">Made with ❤️ by <a style="color: white;" href="https://andrealicheri.vercel.app">Andrea Licheri</a></p>
    <style>
        h1 {
            font-size: 5rem;
            font-family: ufc;
        }

        main {
            padding-left: 20%;
            padding-right: 20%;
        }

        #services {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
            
        }

        p {
            
            padding-left: min(4%);
            padding-right: min(4%);
            padding-bottom: 20px;
        
        }
    </style>
</Skeleton>
