---
import Skeleton from "../layout/Skeleton.astro"
---

<Skeleton title="More">
    <a id="home" href="/">BACK TO HOME</a>
    <div id="view">
        <div style="flex: 2;" id="description">
            <h1>More fights</h1>
            <p>
                <p><b>Instructions & Disclaimers:</b></p>
                <ul>
                    <li>You'll need a torrent client to often consume content. I recommend qBitTorrent.</li>
                    <li>Consider using a VPN and a good (DNS) adblocker when navigating external links.</li> 
                    <li>This page has a focus on fights (no interviews, weigh-ins, press conferences, etc.)</li>                   
                </ul>
                <p><b>UFC:</b></p>
                <ul>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc ppv/time/desc/1/">UFC PPV</a> - Full events, prelims and early prelims often available </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc fight night/time/desc/1/">UFC Fight Night</a> - Full events and prelims often available </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc fight on espn/time/desc/1">UFC on ESPN</a> - Full events and prelims often available </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/the ultimate fighter/time/desc/1">The Ultimate Fighter</a> - All seasons and episodes often available (episodes go from 01 to 12) </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc on fox/time/desc/1">UFC on Fox</a> - RIP. Full events, prelims and early prelims often available (last event was UFC on Fox 31) </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc on fx/time/desc/1">UFC on FX</a> - RIP. Full events, prelims, and others somewhat available (difficult to navigate) </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc on fuel/time/desc/1">UFC on Fuel TV</a> - RIP. Full events and prelims poorly available</li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/ufc on versus/time/desc/1">UFC Live (on Versus)</a> - RIP. Full events and prelims poorly available</li>
                </ul>
                <p><b>Other MMA promotions:</b></p>
                <ul>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/one championship/time/desc/1">ONE Championship</a> - Full events often available</li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/bellator/time/desc/1">Bellator</a> - Full events and prelims often available</li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/cage warriors/time/desc/1">Cage Warriors</a> - Full events somewhat available</li>
                    <li> <a href="https://www.youtube.com/@RIZIN_FF/videos">RIZIN</a> - Full fights available</li>
                    <li> <a href="https://www.youtube.com/@shootoofficial/videos">Shooto</a> - Full fights available</li>
                    <li> <a href="https://www.youtube.com/playlist?list=PLS6Xbrl3nfty4XwzGPzCW87I36aSlxakQ">Pancrase</a> - Old events somewhat available</li>
                    <li> <a href="https://www.youtube.com/playlist?list=PL_6dwM2yuJYTH9lIIpZce9OAQHWHNyXir">PRIDE FC</a> - RIP. Full fights and events often available (difficult to navigate) </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/wsof/time/desc/1/">WSOF</a> - RIP (rebranded to PFL). Full events and prelims somewhat available </li>
                    <li> <a href="https://example.indiadownloadserver3.workers.dev/1716317250194/sort-search/strikeforce/time/desc/1">Strikeforce</a> - RIP. Full events somewhat available</li>
                </ul>
                <p><b>Muay Thai:</b></p>
                <ul>
                    <li> <a href="https://www.youtube.com/@thaifight-international/videos">Thai Fight</a> - Full fights and events often available</li>
                    <li> <a href="https://www.youtube.com/@maxmuaythaichannel/videos">Max Muay Thai</a> - Full fights often available</li>
                    <li> <a href="https://www.youtube.com/@muaythaigrandprix/videos">MTGP</a> - Full fights often available</li>
                    <li> <a href="https://www.youtube.com/@rwsmuaythai/videos">RWS</a> - Full fights often available</li>
                </ul>
            </p>
        </div>
    </div>

    <style>
        #view {
            display: flex;
            width: 99.855vw;
            height: 99.855vh;
        }

        #description {
            background-image: linear-gradient(to right, black, #0f0f0f);
            padding: 5%;
        }

        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.2rem;
        }

        #home {
            font-family: ufc;
            position: absolute;
            padding: 2rem;
            font-size: 1.3rem;
            text-decoration-line: none;
            color: white;
        }

        a {
            color: red;
        }
    </style>
</Skeleton>
