---
import Skeleton from "./Skeleton.astro";
const { playlistId, title } = Astro.props;
---

<Skeleton title={title}>
    <a id="home" href="/">BACK TO HOME</a>
    <div id="view">
        <div style="flex: 1;" id="description">
            <h1>{title}</h1>
            <p>
                <slot />
            </p>
        </div>
        <div style="flex: 1;" id="#phoneview">
            <iframe src={"https://piped.video/playlist?list=" + playlistId}
            ></iframe>
        </div>
    </div>

    <style>
        #view {
            display: flex;
            width: 99.855vw;
            height: 99.855vh;
        }
        @media (max-width: 768px) {
            #view {
                flex-direction: column; 
                height: 189.855vh
            }

            iframe {
                height: 90vh;
                width: 100vw;
            }
        }

        #playlist {
            width: 100%;
            height: 100%;
        }

        #description {
            background-image: linear-gradient(to right, black, #0f0f0f);
            padding: 5%;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1.2rem;
        }

        #home {
            font-family: ufc;
            position: absolute;
            padding: 2rem;
            font-size: 1.3rem;
            text-decoration-line: none;
            color: white;
        }
    </style>
</Skeleton>
